.goodsContainer {
	background-color: white;
	border-radius: 5px;
	padding: 1rem 1rem 2rem 1rem;
}

.itemContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.goodsTitle {
	border-bottom: 1px solid lightgray;
}

.goodsTitle h2 {
	margin-bottom: 0.5rem;
}

.itemWrapper img {
	border-radius: 5px;
}

.itemWrapper a {
	text-decoration: none;
}

.itemText {
	margin-top: 1rem;
}

.itemSubTitle {
	font-size: 0.875rem;
	color: gray;
	margin-bottom: 0.2rem;
}

.itemTitle {
	display: inline;
	color: black;
}

.itemPrice {
	color: #1876d1;
	font-size: 1.3rem;
	margin-top: 0.2rem;
}

@media screen and (max-width: 600px) {
	.itemTitle {
		font-size: 0.875rem;
	}
	.itemPrice {
		font-size: 1rem;
	}
}
