.footerContainer {
	margin-top: 0.5rem;
	background-color: white;
	border-radius: 5px;
	padding: 1rem;
	font-size: 0.75rem;
}

.subMenu {
	border-bottom: 1px solid lightgray;
}

.menuList {
	display: flex;
	justify-content: space-around;
	padding: 0;
	list-style: none;
	margin: 0 0 1rem 0;
}

.menuList a {
	text-decoration: none;
	color: gray;
}

.content {
	margin-top: 1rem;
}

.brand {
	margin-bottom: 1rem;
}

.brandContent {
	margin-bottom: 1rem;
}

.copyright {
	margin-bottom: 0.5rem;
}

.iconCopyright button {
	padding: 0;
	border: 0;
	background-color: white;
	margin: 0;
}
